/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;

  }
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .icon-bar :hover {
      transition: all 0.5s;
      background-color: rgb(214, 52, 79) !important;
  }
.facebook {
    background-color: #1a237e;
}
.twitter {
    background-color: #38A1F3;
}
.youtube {
    background-color:  #ff0000;
}
.instagram {
    background-color: #E1306C;
}
  /* Style the icon bar links */
  .icon-bar-2 a {
    text-align: center;
    padding: 12px;
    
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .icon-bar-2 :hover {
      transition: all 0.5s;
      background-color: rgb(214, 52, 79) !important;
  }


/*header */

.brand-logo {
    font-size: 1.5em !important;
    padding-left: 2% !important;
}

.navbar-links ul {
    margin-right: 8% !important;
}
.navbar-links ul li a:active {
    color: rgb(228, 67, 94);
}
.nav-list ul li a {
    font-size: 16.5px;
}
.nav-list {
    padding: 0;
}
.connect-div {
    padding-top: 2%;
    padding-bottom: 5%;
}
.fake-div1{
    margin-top: 6%;
}
.fake-div2{
    padding-top: 6%;
    margin-top: 18.5%;
}
/* Images and paras */
.find-donors-div  {
    margin-top: 3%;
}
.para {
    color: rgb(122, 135, 148);
    font-size: 16px;
}
/* CARDS */
.card-image {
    height: 190px;
    overflow: hidden;
}
/* FOOTER */
footer ul li{
    display: inline;
}
.footer-link {
    color: black; 
    padding: 1.5%;
}
.footer-link:hover {
    color: red;
}
.footer-div {
    padding: 1%;
}
.dot-div {
    padding: 3px;
}
.footer-copyright {
    padding: 2%;
}

/* SIGNUP.HTML STYLING */
.why-register {
    padding-bottom: 3% !important;
}
/* Removing default styling of input field and adding border */
/* input[type="email"],input[type="password"] {
    border-bottom: none !important;
    box-shadow: none !important;
    border: 1px solid #d1caca !important;  
    margin-top: 3% !important;
    border-radius: 5px !important;
    padding-right: 15% !important;
    padding-left: 3% !important;
} */
/* input[type="email"]:focus,textarea:focus {
    box-shadow: none !important;
} */
#signup-email,#signup-password,#donor-name,#donor-email,#donor-bloodgroup,#donor-number,#donor-address {
    border-bottom: none !important;
    box-shadow: none !important;
    border: 1px solid #d1caca !important;  
    border-radius: 5px !important;
    padding-left: 1%;
}
#login-email,#login-password {
        border-bottom: none !important;
        box-shadow: none !important;
        border: 1px solid #d1caca !important;  
        margin-top: 3% !important;
        border-radius: 5px !important;
        padding-right: 15% !important;
        padding-left: 3% !important;
}
.my-form {
    border: 2px solid rgb(179, 173, 173);
    margin: 5% !important;
    padding-left: 27% !important;
 
}
#welcome-div {
    padding: 2%;
    display: none;
}
.modal-signup {
    overflow-x: hidden;
}
/* DONOR CARDS */
.donor-card {
    border: 2px solid red;
}